/* HeroSection.css */
.hero-container {
  position: fixed; /* Fixes the HeroSection to overlap the Scene */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for overlay effect */
  color: #fff; /* Text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensures it stays above the Scene */
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition for hiding */
}

.hero-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.hero-btns {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}