.learn-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.learn-more {
  font-size: 36px;
  color: #000000; /* Black text */
  margin-bottom: 20px;
  text-align: center;
}

.info-session-container {
  margin-top: 20px;
}

.info-session {
  font-size: 28px;
  color: #000000; /* Black text */
  margin-bottom: 15px;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #000000; /* Black text */
}

h2 {
  font-size: 24px;
  color: #000000; /* Black text */
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  color: #000000; /* Black text */
  margin-top: 20px;
  margin-bottom: 5px;
}

.info-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.info-list li {
  font-size: 16px;
  color: #000000; /* Black text */
  margin-bottom: 5px;
}

.nasa-link {
  margin-top: 20px;
  font-size: 16px;
  color: #000000; /* Black text */
  text-align: center;
}

.nasa-link a {
  color: #ffcc00;
  text-decoration: underline;
}

.nasa-link a:hover {
  color: #ff9900;
}

/* Add Background */
body {
  background: linear-gradient(135deg, #1c3b70, #2b4f93, #344aaf, #2b4f93, #1c3b70);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
